# Xcode
DerivedData/
build/
*.xcworkspace/
xcuserdata/
**/xcshareddata/xcschemes/
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcuserstate
project.xcworkspace/
*.xcodeproj/**/xcuserdata/
*.xcodeproj/**/project.xcworkspace/

# Swift Package Manager
.swiftpm/
Packages/
.build/

# CocoaPods
Pods/
*.podspec.json

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Logs
*.log

# User-specific
*.swp
*.swm
.DS_Store

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Simulator
*.simulatorstate

# Env files
.env
.env.*

# Secrets and credentials
*.key
Secrets.plist
*.pem
*.p12
*.mobileprovision
*.ipa
